<div style="border: ridge">
  <button (click)="getAllData()">GetALL</button><br>
  Get All Data Output is : {{getAllResultData | json}}<br>
  <hr>
  <button (click)="postData()">Post</button>
  Post result : {{postResultData | json}} <br>
  {{errorMess}}
  <br>
  <button (click)="deleteData()">DeleteData</button>
  Deleted result is {{deletedResultData}} <br>
  <button (click)="putData()">PutData</button>
  Put result is : {{putResultData}}<br>
  <button (click)="getParticularProduct()">GetParticular Data</button>
  get result is : {{getParticularData | json}}<br>
</div>
